<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Satchel</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
</head>
<style>
  .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right img, .header-right i {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.header-right img:hover, .header-right i:hover {
    transform: scale(1.1);
}

.header-right a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cart-count, .wishlist-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff5757;
    color: white;
    font-size: 10px;
    font-weight: bold;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-trigger {
    cursor: pointer;
}

.wishlist-link i {
    color: #333 ;
    font-size: 22px;
}

</style>

<body>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="/home" style="color: black; height: 100px;;">Satchel</a>
                </div>
               <div class="header-right">
              
                <a href="/wishlist" class="wishlist-link">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                   
                </a>
                <a href="/cart">
                    <img src="/img/icons/bag.png" alt="Cart">
                    <span class="cart-count"></span>
                </a>
            </div>
              
                 <div class="user-access">
                    <% if(user){%>
                        <div class="downdrop">
                            <a href="#" class="sign-in-link"><%= user.name%></a>
                            <div class="downdrop-content">
                                <a href="/userProfile">Profile</a>
                                <a href="/logout">Logout</a>
                            </div>
                        </div>
                    <%}else{%>
                        <a href="/signup">Sign Up</a>
                        <a href="/login" class="login-link">Log in</a>
                   <%}%>
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="/home">Home</a></li>
                        <li><a href="/shop">Shop</a> </li>
             
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>