
<%- include("../../views/partials/user/header") %>
   


 <!-- Hero Slider Begin -->  
 <section class="hero-slider">
     <div class="hero-items owl-carousel">
         <div class="single-slider-item set-bg" data-setbg="img/Ace_Bag.webp">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12">
                         <h1></h1>
                         <h2></h2>
                         <a href="#" class="primary-btn"></a>
                     </div>
                 </div>
             </div>
         </div>
         <div class="single-slider-item set-bg" data-setbg="img/silder2.png">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12">
                         <h1></h1>
                         <h2></h2>
                         <a href="#" class="primary-btn"></a>
                     </div>
                 </div>
             </div>
         </div>
         <div class="single-slider-item set-bg" data-setbg="img/silder3.png">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12">
                         <h1></h1>
                         <h2></h2>
                         <a href="#" class="primary-btn"></a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- Hero Slider End -->

 <!-- Features Section Begin -->
 <section class="features-section spad">
     <div class="features-ads">
         <div class="container">
             <div class="row">
                 <div class="col-lg-4">
                     
                 </div>
                 <div class="col-lg-4">
                   
                 </div>
                 <div class="col-lg-4">
             
                 </div>
             </div>
         </div>
     </div>
     <!-- Features Box -->
     <div class="features-box">
         <div class="container">
             <div class="row">
                 <div class="col-lg-6">
                     <div class="row">
                         <div class="col-lg-12">
                             <div class="single-box-item first-box">
                                 <img src="img/f-box-1.jpg" alt="">
                                 <div class="box-text">
                                     <span class="trend-year">bags</span>
                                     <h2></h2>
                                     <span class="trend-alert">Trend Allert</span>
                                     <a href="#" class="primary-btn">See More</a>
                                 </div>
                             </div>
                         </div>
                         <div class="col-lg-12">
                             <div class="single-box-item second-box">
                                 <img src="img/f-box-2.jpg" alt="">
                                 <div class="box-text">
                                     <span class="trend-year">Bags</span>
                                     <h2>trendy</h2>
                                     <span class="trend-alert">Bold & Black</span>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="single-box-item large-box">
                         <img src="img/f-box-3.jpg" alt="">
                         <div class="box-text">
                             <span class="trend-year">Bags</span>
                             <h2>Collection</h2>
                             <div class="trend-alert">Trend Allert</div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- Features Section End -->

 <!-- Latest Product Begin -->
 <section class="latest-products spad">
     <div class="container">
         <div class="product-filter">
             <div class="row">
                 <div class="col-lg-12 text-center">
                     <div class="section-title">
                         <h2>Latest Products</h2>
                     </div>
                     <ul class="product-controls">
                         <li data-filter="*">All</li>
                         <li data-filter=".dresses">HandBags</li>
                         <li data-filter=".bags">Tote Bags</li>
                         <li data-filter=".shoes">Wallet</li>
                         <li data-filter=".accesories">Shoulder Bags</li>
                     </ul>
                 </div>
             </div>
         </div>
         <div class="row" id="product-list">
             <div class="col-lg-3 col-sm-6 mix all dresses bags">
                 <div class="single-product-item">
                     <figure>
                         <a href="#"><img src="/img/products img/0cbdc15348fcf19013410887a24b8ae4.jpg" alt=""></a>
                         <div class="p-status">new</div>
                     </figure>
                     <div class="product-text">
                         <h6>Heather Hobo Bag</h6>
                         <p>2999</p>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-sm-6 mix all dresses bags">
                 <div class="single-product-item">
                     <figure>
                         <a href="#"><img src="/img/products img/6ab6f1c6960ef92ddaaf69b33dd82e7a.jpg" alt=""></a>
                         <div class="p-status sale">sale</div>
                     </figure>
                     <div class="product-text">
                         <h6>Callie Satchel Bag</h6>
                         <p>3999</p>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-sm-6 mix all shoes accesories">
                 <div class="single-product-item">
                     <figure>
                         <a href="#"><img src="/img/products img/723ec8e8cbf53577610a912507e1c64e.jpg" alt=""></a>
                         <div class="p-status">new</div>
                     </figure>
                     <div class="product-text">
                         <h6>Alice Shoulder Bag</h6>
                         <p>1999</p>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-sm-6 mix all shoes accesories">
                 <div class="single-product-item">
                     <figure>
                         <a href="#"><img src="/img/products img/7d2c4ba552ebfec7a8d79c7df871c2d4.jpg" alt=""></a>
                         <div class="p-status popular">popular</div>
                     </figure>
                     <div class="product-text">
                         <h6>Rosalind Tote Bag</h6>
                         <p>2999</p>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-sm-6 mix all dresses shoes">
                 <div class="single-product-item">
                     <figure>
                         <a href="#"><img src="/img/products img/778ec9bb7e567130ee98126e88443441.jpg" alt=""></a>
                         <div class="p-status">new</div>
                     </figure>
                     <div class="product-text">
                         <h6>Drew Tote Bag</h6>
                         <p>2000</p>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-sm-6 mix all accesories bags">
                 <div class="single-product-item">
                     <figure>
                         <a href="#"><img src="/img/products img/pg14.jpg" alt=""></a>
                         <div class="p-status sale">sale</div>
                     </figure>
                     <div class="product-text">
                         <h6>Nora Zip Around Wallet</h6>
                         <p>1000</p>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-sm-6 mix all dresses bags">
                 <div class="single-product-item">
                     <figure>
                         <a href="#"><img src="/img/products img/pg5.jpg" alt=""></a>
                     </figure>
                     <div class="product-text">
                         <h6>Alice Shoulder Bag</h6>
                         <p>2999</p>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-sm-6 mix all accesories bags">
                 <div class="single-product-item">
                     <figure>
                         <a href="#"><img src="/img/products img/ce6052274af6270bd658d705c8999418.jpg" alt=""></a>
                         <div class="p-status popular">popular</div>
                     </figure>
                     <div class="product-text">
                         <h6>Chérie Crossbody Bag</h6>
                         <p>3500</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 
 <section class="lookbok-section">
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-4 offset-lg-1">
                 <div class="lookbok-left">
                     <div class="section-title">
                    
                     </div>
                    
                 </div>
             </div>
             <div class="col-lg-5 offset-lg-1">
                 <div class="lookbok-pic">
                     <img src="img/lookbok.jpg" alt="">
                     <div class="pic-text">fashion</div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- Lookbok Section End -->



 <%- include("../../views/partials/user/footer") %>